*, *::after, *::before {
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: inherit;
}

body{
    background-image: linear-gradient(to right bottom, #6133c7, #5248d1, #4359d8, #3568dd, #2c75e0, #0d82e3, #008de4, #0098e3, #00a4df, #00aed3, #00b6c2, #00bcaf);
}

.navbar {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 150px;
    border-radius: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(133, 133, 133);
    color: black;
    font-weight: bold;
    border-bottom: 5px solid black;
    font-size: 22px;
}

.navbar--header{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 30px;
}

.navegacao{
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
}

.item{
    margin: 30px;
}

.link{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

main{
    max-width: 550px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
    border: 6px solid black;
    background-color: gray;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

article{
    height: 150px;
    margin: 0;
}

.input-form{
    width: 100%;
}

.label-form{
    display: block;
    margin-bottom: 10px;
}

.exemplo-campo{
    width: 100%;
    font-size: 18px;
    color: black;
}

.enviar-form{
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: 2px solid white;
}

.enviar-form:hover{
    color: rgb(100, 172, 255);
}

.posts{
    margin-top: 30px;
}

.title{
    display: inline;
    font-size: 22px;
    color: white;
}

.conteudo{
    font-size: 18px;
    line-height: 150%; 
    color: white;
}

footer{
    background-color: rgb(133, 133, 133);
    margin: 0 auto;
    padding: 40px 0;
    margin-top: 310px;
    border-radius: 10px;
    max-width: 700px;
    color: white;
    border-top: 5px solid black;
    font-size: 20px;
}

.container-footer{
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}

.esquerda{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.direita{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.coluna-f{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.item-f{
    text-decoration: none;
    margin-bottom: 15px;
}

.item-f:hover{
    text-decoration: underline;
}