*, *::after, *::before {
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: inherit;
    margin: 0;
}

html{
    height: 100%;
}

body{
    background-image: url(../wallpaper.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position-x: center;
    min-height: 100%;
}

.navbar {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.navbar--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-right: 30px;
}

.item{
    margin: 30px;
}

.link{
    margin-right: 25px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

main{
    max-width: 650px;
    margin: 50px auto;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.45);
    border:1px solid rgba(125, 172, 199, 0.20);
    backdrop-filter: blur(20px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

article{
    margin: 0;
    margin-bottom: 50px;
}

.input_title{
    margin-top: 20px;
}

.input-form{
    width: 100%;
}

.label-form{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.exemplo-campo{
    min-width: 645px;
    max-width: 645px;
    font-size: 18px;
    color: black;
}

.enviar-form{
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: 1.5s;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.30);
    border:1px solid rgba(125, 172, 199, 0.20);
    backdrop-filter: blur(20px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.enviar-form:hover{
    transition: 0.5s;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.30);
    border:1px solid rgba(125, 172, 199, 0.80);
    backdrop-filter: blur(20px);
    filter: brightness(0%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.posts{
    margin-top: 30px;
    margin-bottom: 30px; 
}

.title{
    display: inline;
    font-size: 22px;
    color: white;
}

.conteudo{
    font-size: 18px;
    line-height: 150%; 
    color: white;
}

footer{
    margin: 0 auto;
    padding: 25px 0;
    position: sticky;
    top: 100%;
    max-width: 800px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.esquerda{
    display: flex;
    flex-direction: row;
}

.direita{
    display: flex;
    flex-direction: row;
}


.item-f{
    text-decoration: none;
    color: white;
}


@media (min-width: 300px) and (max-width: 1000px) {

    *, *::after, *::before {
        font-family: 'IBM Plex Mono', monospace;
        box-sizing: inherit;
        margin: 0;
    }
    
    html{
        height: 100%;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
    }

    .item{
        margin: 15px;
    }

    .logo{
        margin: 20px;
    }

    .exemplo-campo{
        max-width: 295px;
        min-width: 295px;
    }

    .link{
        font-size: 16px;
        text-decoration: none;
        color: white;
    }

    footer{
        margin-left: auto;
        margin-right: auto;
        max-width: 325px;
        min-width: 325px;
        font-size: 16px;
    }

    main{
        max-width: 300px;
    }
   
}