<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30;URL=index.html">
    <title>Microblog</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="navbar--header">
            <img src="static/jornal.png" class="logo" alt="Logo do Microblog" />Microblog
        </div>
        <ul class="navegacao">
            <li class="item"><a href="https://www.joaopedropn.com.br/" class="link" target="_blank">Portfólio João Pedro</a></li>
        </ul>
    </header>
    <main>
        <section>
            <h1 class="input_title">Deixe seu recado!!!</h1> 
            <form method="post">
                <p class="input-form">
                    <label for="entry" class="label-form">Indentifique-se</label>
                    <textarea name="exemplo" id="entry" class="exemplo-campo" placeholder="Digite algo:"></textarea>
                </p> 
                <button type="submit" class="enviar-form">Enviar</button>
            </form>
        </section>
        <section>
            <h1 class="posts">Publicados</h1>
            {% for entry in entries %}
            <article>
                <div>
                    <h2 class="title">{{ entry[0] | truncate(10, true) }}</h2>
                    <time class="date" datetime="{{ entry[1] }}">. {{ entry[2] }}</time>
                </div>
                <p class="conteudo">
                    {{ entry[0] }}
                </p>
            </article>
            {% endfor %}
        </section>

    </main>
    <footer>
        <div class="container-footer">
            <section class="esquerda">
                <a class="item-f">Construido por João Pedro</a>
            </section>
            <section class="direita">
                <div class="coluna-f">
                    <a href="https://www.joaopedropn.com.br/" class="item-f" target="_blank">Portfólio João Pedro</a>
                </div>
            </section>
        </div>
    </footer>    
</body>
</html>